<!-- 返回顶部 -->
<div data-am-widget="gotop" class=" am-gotop am-gotop-fixed ">
    <a href="#top" title="回到顶部">
        <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
</div>
<!-- 返回顶部 结束-->
<footer class="blog-footer">
    <div class="blog-text-center">
        <span>&copy; 2015
            <a href="http://www.muyuemo.xin">muyuemo.xin</a>
            <a href="http://www.miitbeian.gov.cn" target="blank">蜀ICP备17037490号</a>
        </span>
    </div>
</footer>