#head{
	background:#0F0F0F ;
	height: 21px;
}
#head .content{
	line-height: 21px;
	position: relative;
}
#head .content .indexweb{
	position: absolute;
	left: 263px;
	top: 0;
}
/*headnav*/
#headnav{
	height: 84px;
	position: relative;
}
#headnav>a{
	position: absolute;
	left: 0;
	bottom: 0;
}


#headnav .formpa{
	position: relative;
}
#headnav .searchlist .searchform{
	position: absolute;
	right: 0;
	top: 8px;
}
#headnav .searchlist .searchform .searchbox{
	width: 436px;
	height: 32px;
	border: 2px solid #FF6600;
	color: #E1E1E1;
	text-indent: 6px;
}
#headnav .searchlist .searchform .secbtn{
	width: 50px;
	height: 35px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
	background: url(../img/bgicon.png) no-repeat;
}
#headnav .searchlist .searchform img{
	position: absolute;
	right:58px;
	top: 7px;
	display: none;
}

