#sp {
  height: 1rem;
  flex-grow: 1;
}
#sp .mainbox {
  height: 1rem;
  flex-grow:1;
  overflow: scroll;
}
#sp .mainbox .sp-nav {
  text-align: center;
  background: #fff;
}
#sp .mainbox .sp-nav a {
  color: #777;
}
#sp .mainbox .sp-nav img{
  width:60%;
  margin:0 auto;
  display: block;
}
#sp .mainbox .sp-img {
  background: #fff;
  margin-top:0.8rem;
  border:1px solid #eee;
}
#sp .mainbox .sp-img .col {
  padding:0.5rem 0.2rem;
}
#sp .mainbox .sp-fav {
  margin:0.1rem 0;
}
#sp .mainbox .sp-fav header {
  font-size:1.3rem;
  padding-top:0;
  padding-bottom: 0;
}
